modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Advent of Code CLI"

[[workflows.workflow]]
name = "Advent of Code CLI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js 2024 1"

[workflows.workflow.metadata]
outputType = "console"
